body {background-color: #e6bfad}
p {font-family: Geogia; font-size: 16px; color: #1a00ff}
h1 {text-align: center; color: #00eaff; }
h4 {text-align: center; color: #1a00ff; }
img {margin-top: 75px; margin-right: 20px; float: right}
a {margin-top: 400px; margin-left: 10px; float: left}
