body {background-color: #98FB98}
p {font-family: Geogia; font-size: 16px; color: #000000}
h1 {text-align: center; color: #1a00ff; }
h4 {text-align: center; color: #1a00ff; }
h3 {color: #000000 }
em {color: #1a00ff; font-style: italic}
img {margin-top: 75px; margin-right: 20px; float: right}
a {margin-top: 25px; margin-right: 10px; float: right}
var {color: #1a00ff; font-style: italic}
sup {color: #ff0000}
