.css-selector {font-family: 'Lobster', cursive; }
body {background-image: url("const.jpg"); background-attachment: fixed;}
h1 {text-align: center; color: darkred; }
h4 {text-align: left; margin-left: 10px; color: darkred; }
p {font-family: 'Lobster', cursive; font-size: 16px; color: darkred}
h3 {color: darkred; font-family: 'Lobster', cursive }


a {margin-top: 25px; margin: auto; }
